body {
    margin: 20px;
    min-width: 600px;
    height: 100%;
    text-align: left;
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    background-color: rgb(200, 200, 200);
}
p {
    font-size: 12pt;
    margin-bottom: 4px;
}
h2 {
    text-align: center;
    font-size: 24pt;
    padding-bottom: 20px;
}
#footer {
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -110%);
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    clear: both;
    height: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 10pt;
}
#wrapper {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
.btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
}
.btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}

.alert {
    padding: 2px;
    display: none;
}
.form-control {
    margin-bottom: 12px;
}